.app-box{
    display: flex;
    flex-direction: column;
    background-color: saddlebrown;
align-items: center;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    height: 400px;
    padding-top: 50px;
}
.main-calc-box{
    margin-top:10px;
    text-align: center;
    min-width: 400px;
}
.calculations-box{
    margin-top: 10px;
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    height: 150px;
    margin-bottom: 10px;
}
.calc-btn,.reset{
    width: 130px;
    height: 40px;
    padding: 10px;
    align-items: center;
margin: 5px auto;
}
.submit-box{
    display: flex;
    min-width: 400px;
    justify-content: space-around;
}
.submit-btn{
    width: 130px;
    height: 40px;
    justify-content: space-around;
    margin-bottom: 100px;
}
input{
    height: 40px;
}
.result{
    background-color: silver;
    padding: 20px;
}
.reset{
    margin-top: 10px;
}














