.main-calc-box {
    background-color: saddlebrown;
    width: 40vw;
    height: 70vh;
    margin: 100px auto;
    border-radius: 10px;
}

.app-box {
    display: flex;
    height: 100vh;
    background-color: silver;
}

h1 {
    text-align: center;
}

.result {
    border: 1px solid black;
    max-width: 400px;
    height: 30px;
    margin: 0 auto;
    background-color: grey;
    text-align: center;
    font-size: 22px;
}

.calc-btn {
    height: 40px;
    width: 120px;
    margin-left: 60px;
    margin-bottom: 10px;
}

.calculations-box {
    margin: 20px auto 0 auto;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.reset {
    margin: 0 auto;
    height: 40px;
    width: 150px;
}

.bottom-box {
    text-align: center;
    margin-top: 50px;
}

.submit-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

input {
    height: 30px;
    margin-right: 20px;
}














